<?xml version="1.0"?>
<robot name="high_level_robosub">

	<!-- Base -->
	<link name="base_link">
		<inertial>
			<mass value="350.0"/>
			<origin xyz="0 0 0"/>
			<inertia
				ixx="10.83" ixy="0.0" ixz="0.0"
				iyy="10.83" iyz="0.0"
				izz="16.33"/>
		</inertial>
		<visual>
			<geometry>
				<box size="0.7 0.7 0.4"/>
			</geometry>
			<material name="blue">
				<color rgba="0 0 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="0.7 0.7 0.4"/>
			</geometry>
		</collision>
	</link>

	<!-- Bouyant (positively bouyant component for stability) --> 
	<link name="bouyant_link">
		<inertial>
			<mass value="50.0"/>
			<origin xyz="0 0 0"/>
			<inertia
				ixx="0.05" ixy="0.0" ixz="0.0"
				iyy="0.05" iyz="0.0"
				izz="0.08"/>
		</inertial>
		<visual>
			<geometry>
				<box size="0.7 0.7 0.1"/>
			</geometry>
			<material name="white">
				<color rgba="1 1 1 1"/>
			</material>
		</visual>
		<collision>
			<geometry>
				<box size="0.7 0.7 0.4"/>
			</geometry>
		</collision>
	</link>
	<joint name="bouyant_joint" type="fixed">
		<origin xyz="0 0 0.25" rpy="0 0 0"/>
		<parent link="base_link"/>
		<child link="bouyant_link"/>
    </joint>
	

	<!-- Camera -->
	<link name="camera_link">
		<visual>
			<geometry>
				<box size="0.1 0.1 0.1"/>
			</geometry>
			<material name="red">
				<color rgba="1 0 0 1"/>
			</material>
		</visual>
	</link>
	<joint name="camera_joint" type="fixed">
		<origin xyz="0.35 0 0" rpy="3.1416 3.1416 3.1416"/>
		<parent link="base_link"/>
		<child link="camera_link"/>
    </joint>


	<gazebo reference="camera_link">
		<sensor name="underwater_camera" type="rgbd_camera">
			<update_rate>10</update_rate>
			<visualize>true</visualize>
			<always_on>1</always_on>
			<topic>/robosub/camera</topic>
			<camera>
				<horizontal_fov>1.05</horizontal_fov>
				<image>
				<width>320</width>
				<height>240</height>
				</image>
				<clip>
				<near>0.1</near>
				<far>10.0</far>
				</clip>
			</camera>
			<plugin
				filename="libUnderwaterCamera.so"
				name="dave_gz_sensor_plugins::UnderwaterCamera">
				<attenuationR>0.4</attenuationR>
				<attenuationG>0.25</attenuationG>
				<attenuationB>0.1</attenuationB>
				<!-- Murky Coastal Waters -->
				<backgroundR>120</backgroundR>
				<backgroundG>120</backgroundG>
				<backgroundB>50</backgroundB>
			</plugin>
		</sensor>
	</gazebo>

	<gazebo>
		<plugin name="gz::sim::systems::OdometryPublisher" filename="libgz-sim8-odometry-publisher-system.so">
			<tf_topic>/model/high_level_robosub/pose</tf_topic>
		</plugin>
	</gazebo>
</robot>